@(title: String, cart: models.ShoppingCart, cart_details: Array[ShoppingCartDetail])


@main(title) {

  <div class="span9">
    <ul class="breadcrumb">
      <li><a href="index.html">Home</a> <span class="divider">/</span></li>
      <li class="active"> SHOPPING CART</li>
    </ul>
    <h3>  SHOPPING CART [ <small>3 Item(s) </small>]</h3>
    <hr class="soft"/>
    <table class="table table-bordered">
      <tr><th> I AM ALREADY REGISTERED  </th></tr>
      <tr>
          <td>
              <form class="form-horizontal">
                  <div class="control-group">
                      <label class="control-label" for="inputUsername">Username</label>
                      <div class="controls">
                          <input type="text" id="inputUsername" placeholder="Username">
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="inputPassword1">Password</label>
                      <div class="controls">
                          <input type="password" id="inputPassword1" placeholder="Password">
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="controls">
                          <button type="submit" class="btn">Sign in</button> OR <a href="register.html" class="btn">Register Now!</a>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="controls">
                          <a href="forgetpass.html" style="text-decoration:underline">Forgot password ?</a>
                      </div>
                  </div>
              </form>
          </td>
      </tr>
  </table>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Quantity/Update</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Tax</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>

        @for(cartDetail <- cart_details) {
          <tr>
            <td> <img width="60" src="@routes.Assets.versioned("images/products/")@cartDetail.getItem().getAvatar()" alt=""/></td>
            <td>@cartDetail.getItem().getName()<br/>@cartDetail.getItem().get50CharsOfDescription()</td>
            <td>
              <div class="input-append">
                <input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text">
                <button class="btn" type="button"><i class="icon-minus"></i></button>
                <button class="btn" type="button"><i class="icon-plus"></i></button>
                <button class="btn btn-danger" type="button">
                  <a href="@routes.CartController.guest_RemoveFromCart(cartDetail.getCart_id, cartDetail.getItem.getId.toString)"><i class="icon-remove icon-white"></i></a>
                </button>
              </div>
            </td>
            <td>@cartDetail.getPrice()</td> <!-- price -->
            <td>$25.00</td> <!-- discount -->
            <td>$15.00</td> <!-- tax -->
            <td>@(cartDetail.getPrice() - 25 - 15)</td> <!-- total -->
          </tr>
        }

        <tr>
          <td colspan="6" style="text-align:right">Total Price:	</td>
          <td> 0</td>
        </tr>
        <tr>
          <td colspan="6" style="text-align:right">Total Discount:	</td>
          <td> 0</td>
        </tr>
        <tr>
          <td colspan="6" style="text-align:right">Total Tax:	</td>
          <td> 0</td>
        </tr>
        <tr>
          <td colspan="6" style="text-align:right"><strong>TOTAL = </strong></td>
          <td class="label label-important" style="display:block">
            <strong>
              @cart.getTotalPrice
            </strong>
          </td>
        </tr>
      </tbody>
    </table>

    <form class="form-horizontal" action="@routes.CartController.completeOder()" method="post">
    <table class="table table-bordered">
      <tr><th>CONFIRM YOUR INFORMATION </th></tr>
      <tr>
        <td>
            <div class="control-group">
              <label class="control-label" for="inputCountry">Your Full Name </label>
              <div class="controls">
                <input type="text" name="inputName" placeholder="Your name">
              </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPost">Email </label>
                <div class="controls">
                    <input type="text" name="inputEmail" placeholder="Your current address">
                </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPost">Current Address </label>
              <div class="controls">
                <input type="text" name="inputAddress" placeholder="Your current address">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPost">Phone Number </label>
              <div class="controls">
                <input type="text" name="inputPhoneNumber" placeholder="Your phone number">
              </div>
            </div>
        </td>
      </tr>
    </table>
    <a class="btn btn-large" onclick="window.history.back();"><i class="icon-arrow-left"></i> Continue Shopping </a>
    <button type="submit" class="btn btn-large pull-right">Buy <i class="icon-ok-sign"></i></button>
    </form>

  </div>

}